.caja {
	background-color: yellow;
	width: 210px;
	height: 100px;
	width: 280px;
	margin: 20px 30px;
}
.segundacaja {

	border-style: solid;
	border-width: 2px;
	background-color: red;
	height: 100px;
	width: 280px;
	margin: 20px 30px;
}